<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgit.bj.shop.generic.dao.mapper.goods.GoodsLadderMapper">
    <resultMap id="BaseResultMap" type="com.xgit.bj.shop.generic.dao.entity.goods.GoodsLadderDO">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="goods_id" property="goodsId" jdbcType="BIGINT"/>
            <result column="count" property="count" jdbcType="BIGINT"/>
            <result column="discount" property="discount" jdbcType="DECIMAL"/>
            <result column="price" property="price" jdbcType="DECIMAL"/>
            <result column="db_create_author" property="dbCreateAuthor" jdbcType="VARCHAR"/>
            <result column="db_create_time" property="dbCreateTime" jdbcType="TIMESTAMP"/>
            <result column="db_update_author" property="dbUpdateAuthor" jdbcType="VARCHAR"/>
            <result column="db_update_time" property="dbUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,goods_id,count,discount,price,db_create_author,db_create_time,db_update_author,db_update_time
    </sql>

    <sql id="cond">
        <where>
            <if test="id != null">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and  id =#{id,jdbcType=BIGINT}
            </if>
            <if test="goodsId != null">
                and  goods_id =#{goodsId,jdbcType=BIGINT}
            </if>
            <if test="count != null">
                and  count =#{count,jdbcType=BIGINT}
            </if>
            <if test="discount != null">
                and  discount =#{discount,jdbcType=DECIMAL}
            </if>
            <if test="price != null">
                and  price =#{price,jdbcType=DECIMAL}
            </if>
            <if test="dbCreateAuthor != null and dbCreateAuthor != ''">
                and  db_create_author =#{dbCreateAuthor,jdbcType=VARCHAR}
            </if>
            <if test="dbCreateTime != null">
                and  db_create_time =#{dbCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dbUpdateAuthor != null and dbUpdateAuthor != ''">
                and  db_update_author =#{dbUpdateAuthor,jdbcType=VARCHAR}
            </if>
            <if test="dbUpdateTime != null">
                and  db_update_time =#{dbUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <select id="list" parameterType="com.xgit.bj.shop.beans.vo.goods.GoodsLadderVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_ladder
        <include refid="cond"/>
    </select>

    <select id="queryList" parameterType="com.xgit.bj.shop.beans.vo.goods.GoodsLadderVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_ladder
        <include refid="cond"/>
    </select>

    <select id="queryListByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_ladder
        where ID in
        <foreach collection="ids" item="id" open="(" separator=","  close=")">
         #{id,jdbcType=VARCHAR}
        </foreach>
    </select>



    <delete id="deleteByPrimaryKeySelective" parameterType="java.lang.Long">
        delete from t_goods_ladder where ID = #{id}
    </delete>

    <delete id="batchDeleteByIds" parameterType="java.util.List">
        delete from t_goods_ladder where ID in (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>
       )
    </delete>

    <insert id="insert" parameterType="com.xgit.bj.shop.generic.dao.entity.goods.GoodsLadderDO">
        insert into t_goods_ladder (
        id,goods_id,count,discount,price,db_create_author,db_create_time,db_update_author,db_update_time
        )
        values (
         #{id,jdbcType=BIGINT},#{goodsId,jdbcType=BIGINT},#{count,jdbcType=BIGINT},#{discount,jdbcType=DECIMAL},#{price,jdbcType=DECIMAL},
         #{dbCreateAuthor,jdbcType=VARCHAR},#{dbCreateTime,jdbcType=TIMESTAMP},#{dbUpdateAuthor,jdbcType=VARCHAR},#{dbUpdateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into `t_goods_ladder` (
        id,goods_id,count,discount,price,db_create_author,db_create_time,db_update_author,db_update_time
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=BIGINT},#{item.goodsId,jdbcType=BIGINT},#{item.count,jdbcType=BIGINT},#{item.discount,jdbcType=DECIMAL},#{item.price,jdbcType=DECIMAL},
                #{item.dbCreateAuthor,jdbcType=VARCHAR},#{item.dbCreateTime,jdbcType=TIMESTAMP},#{item.dbUpdateAuthor,jdbcType=VARCHAR},#{item.dbUpdateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="merge" parameterType="com.xgit.bj.shop.generic.dao.entity.goods.GoodsLadderDO">
        merge into t_goods_ladder t1
        using (select #{id,jdbcType=VARCHAR} as ID from dual)tab_
        ON (t1.ID=tab_.ID)
        WHEN MATCHED THEN
        update
        <set>
            <if test="id != null">
                id =#{id,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id =#{goodsId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                count =#{count,jdbcType=BIGINT},
            </if>
            <if test="discount != null">
                discount =#{discount,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                price =#{price,jdbcType=DECIMAL},
            </if>
            <if test="dbCreateAuthor != null">
                db_create_author =#{dbCreateAuthor,jdbcType=VARCHAR},
            </if>
            <if test="dbCreateTime != null">
                db_create_time =#{dbCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dbUpdateAuthor != null">
                db_update_author =#{dbUpdateAuthor,jdbcType=VARCHAR},
            </if>
            <if test="dbUpdateTime != null">
                db_update_time =#{dbUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHEN NOT MATCHED THEN
        insert  (
        id,goods_id,count,discount,price,db_create_author,db_create_time,db_update_author,db_update_time
        )
        values (
        #{id,jdbcType=BIGINT},#{goodsId,jdbcType=BIGINT},#{count,jdbcType=BIGINT},#{discount,jdbcType=DECIMAL},#{price,jdbcType=DECIMAL},
        #{dbCreateAuthor,jdbcType=VARCHAR},#{dbCreateTime,jdbcType=TIMESTAMP},#{dbUpdateAuthor,jdbcType=VARCHAR},#{dbUpdateTime,jdbcType=TIMESTAMP}
        )
    </update>
    <!--todo 待验证-->
    <update id="mergeMsql" parameterType="com.xgit.bj.shop.generic.dao.entity.goods.GoodsLadderDO">
        insert  (
        id,goods_id,count,discount,price,db_create_author,db_create_time,db_update_author,db_update_time
        )
        values (
        #{id,jdbcType=BIGINT},#{goodsId,jdbcType=BIGINT},#{count,jdbcType=BIGINT},#{discount,jdbcType=DECIMAL},#{price,jdbcType=DECIMAL},
            #{dbCreateAuthor,jdbcType=VARCHAR},#{dbCreateTime,jdbcType=TIMESTAMP},#{dbUpdateAuthor,jdbcType=VARCHAR},#{dbUpdateTime,jdbcType=TIMESTAMP}
        )
        ON duplicate KEY UPDATE
        <set>
            <if test="id != null">
                id =#{id,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id =#{goodsId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                count =#{count,jdbcType=BIGINT},
            </if>
            <if test="discount != null">
                discount =#{discount,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                price =#{price,jdbcType=DECIMAL},
            </if>
            <if test="dbCreateAuthor != null">
                db_create_author =#{dbCreateAuthor,jdbcType=VARCHAR},
            </if>
            <if test="dbCreateTime != null">
                db_create_time =#{dbCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dbUpdateAuthor != null">
                db_update_author =#{dbUpdateAuthor,jdbcType=VARCHAR},
            </if>
            <if test="dbUpdateTime != null">
                db_update_time =#{dbUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xgit.bj.shop.generic.dao.entity.goods.GoodsLadderDO">
        update t_goods_ladder
        <set>
            <if test="id != null">
                id =#{id,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id =#{goodsId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                count =#{count,jdbcType=BIGINT},
            </if>
            <if test="discount != null">
                discount =#{discount,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                price =#{price,jdbcType=DECIMAL},
            </if>
            <if test="dbCreateAuthor != null">
                db_create_author =#{dbCreateAuthor,jdbcType=VARCHAR},
            </if>
            <if test="dbCreateTime != null">
                db_create_time =#{dbCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dbUpdateAuthor != null">
                db_update_author =#{dbUpdateAuthor,jdbcType=VARCHAR},
            </if>
            <if test="dbUpdateTime != null">
                db_update_time =#{dbUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID =  #{id,jdbcType=VARCHAR}
    </update>
</mapper>
